@font-face {
    font-family: 'Elementarz2';
    src: local('Elementarz2'), url(./fonts/Elementarz2.ttf) format('truetype');
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
